/* .............. universel style ................ */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    /* border: 1px solid red; */
}

/* ................... header .................... */


/* ....... container ....... */

.container {
    width: 100%;
}

/* max-width: 2560px; */
@media screen and (max-width: 3840px) {
    .container {
        max-width: 2048px;
    }
}

@media screen and (max-width: 3200px) {
    .container {
        max-width: 1920px;
    }
}

@media screen and (max-width: 2560px) {
    .container {
        max-width: 1536px;
    }
}

@media screen and (max-width: 1920px) {
    .container {
        max-width: 1400px;
    }
}

@media screen and (max-width: 1440px) {
    .container {
        max-width: 1280px;
    }
}

@media screen and (max-width: 1024px) {
    .container {
        max-width: 976px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media screen and (max-width: 425px) {
    .container {
        max-width: 425px;
    }
}

@media screen and (max-width: 320px) {
    .container {
        max-width: 100%;
    }
}


/* ......... web title ............ */
.web-title1-container{
    display: flex;
    margin: 15px 0px;
    justify-content: center;
    align-items: center;
}
.web-title1{
    text-transform: capitalize;
}

/* .... announce bar ..... */

.announce-bar {
    width: 100%;
    background: #f6b116;
    height: auto;
    padding: 8px;
    display: flex;
    justify-content: center;
}

.announce {
    font-family: "Inter", serif;
    font-size: 14px;
    color: white;
    border-right: 3px solid white;
    text-wrap: nowrap;
    overflow: hidden;
}

#announce-one {
    animation: typing1 4s steps(48) infinite alternate, blinkCursor 0.9s infinite;
}

@media screen and (max-width: 425px) {
    .announce {
        font-size: 12px;
    }
}

@keyframes typing1 {
    from {
        width: 0ch;
    }

    to {
        width: 40ch;
    }

}

@keyframes blinkCursor {
    50% {
        border-color: transparent;
    }
}

/* ....... navbar ....... */

.navbar {
    width: 100%;
    /* height: 140px; */
    display: flex;
    background: rgb(0, 0, 0);
    align-items: center;
    justify-content: center;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
}

.search-box {
    width: 100%;
}

.search-bar {
    width: 100%;
    max-width: 320px;
    padding: 0px 0px 0px 15px;
    background: white;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-bar:hover {
    box-shadow: 0px 0px 5px 3px rgba(255, 255, 255, 0.733);
}

.search {
    width: auto;
    outline: none;
    border: none;
    font-family: "Inter", serif;
    font-size: 12px;
    opacity: 0.8;
}

.search-bar-icon {
    cursor: pointer;
    padding: 15px;
    border-radius: 50px;
}

.search-bar-icon:hover {
    background: rgba(0, 0, 0, 0.26);
}

.logo-box {
    width: 520px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo {
    width: 100%;
}

.nav-icons {
    width: 100%;
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: end;
}

.nav-icon-box {
    width: 100px;
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
}

.nav-icon-box>span {
    font-size: 14px;
    color: white;
    text-transform: uppercase;
    font-family: "Lato", serif;
    letter-spacing: 2.8px;
}

.nav-icon-box>i {
    font-size: 20px;
    color: white;
}


.nav-iBars-box {
    display: none;
}

@media screen and (max-width: 1023px) {
    .nav-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .logo-box {
        width: 180px;
    }

    .search-box {
        order: 3;
        width: 100%;
        grid-column: span 2;
    }

    .search-bar {
        max-width: 100%;
        padding: 0px 0px 0px 12px;
    }

    .search {
        width: 100%;
    }

    .nav-icon-box {
        width: auto;
    }

    .nav-icons {
        gap: 20px;
    }

    .nav-icon-box {
        gap: 0px;
    }

    .icon-describ {
        display: none;
    }

    .search-bar-icon {
        padding: 12px;
    }

    .nav-iBars-box {
        display: flex;
    }
}

@media screen and (max-width: 425px) {
    .logo-box {
        width: 130px;
    }

    .search-bar {
        padding: 0px 10px;
    }

    .search-bar-icon {
        padding: 6px;
    }
}


/* ............. menu bar ............... */

.menu-bar {
    width: 100%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.192);
}

.menu-bar-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 35px;
    row-gap: 30px;
    flex-wrap: wrap;
}

.menu-item>a {
    text-decoration: none;
}

.menu-item>a>span {
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    font-family: "Inter", serif;
    letter-spacing: 2.8px;
}

#menu-bar-toggle {
    display: none;
}

.none {
    display: none;
}

@media screen and (max-width: 1023px) {
    #menu-bar-toggle:checked~div.menu-bar {
        transform: scaleY(100%);
        z-index: 100;
    }

    .menu-bar {
        transform: scaleY(0%);
        transform-origin: top;
        transition: 0.3s ease-in-out;
        background: white;
        padding: 0;
        position: absolute;
    }

    .menu-bar-container {
        padding: 20px;
    }

    .menu {
        flex-direction: column;
        align-items: start;
        background: #f8f8f8;
        border-radius: 10px;
        padding: 20px 10px;
        row-gap: 10px;
    }

    .menu-item {
        width: 100%;
        display: flex;
        align-items: center;
        height: 40px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.096);
    }

    .menu-item>a {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 0px 5px;
    }

    .menu-item>a>span {
        color: black;
    }

    .none {
        display: block;
        color: rgb(0, 0, 0);
        font-size: 14px;
        letter-spacing: 2.8px;
        padding: 10px;
    }
}

/* ..........  main-body ......... */

.main-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ............. banner ............... */

.banner-container {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}

.banner-container>img {
    width: 100%;
}

/* .............. product card ................. */

.card-container {
    display: flex;
    margin-top: 10px;
    margin-bottom: 30px;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.card {
    width: 200px;
    height: 450px;
    background: #f8f8f8;
    border-radius: 10px;
    cursor: pointer;
}

.product-img {
    height: 200px;
    position: relative;
    border-radius: 10px 10px 0px 0px;
}

.card-icons-box {
    top: -12px;
    right: -12px;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    display: flex;
    transform: scale(0);
    transition: 0.1s ease-in-out;
}

.card-icons-box>i {
    width: 34px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.712);
    background: black;
    border-radius: 50%;
    cursor: pointer;
}

.card:hover>div.product-img>div.card-icons-box {
    transform: scale(100%);
}

.details {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card-title {
    font-size: 16px;
    text-transform: capitalize;
    letter-spacing: 0.4px;
    font-family: "Inter", serif;
}

.star-default-color {
    color: #d3d3d3;
}

.star-rated-color {
    color: #f8a300;
}

.unique-news {
    font-size: 16px;
    text-transform: capitalize;
    letter-spacing: 0.4px;
    font-family: "Inter", serif;
    color: #7d7d93;
}

.price {
    font-size: 16px;
    text-transform: capitalize;
    letter-spacing: 0.4px;
    font-family: "Inter", serif;
    color: #f8a300;
    font-weight: 700;
}

.price>span>del {
    font-size: 14px;
    margin-left: 15px;
}

.card > div.card1-img {
    background: url(./assets/images/card1.webp) center no-repeat;
    background-size: contain;
}

.card:hover > div.card1-img {
    background: url(./assets/images/card1h.webp) center no-repeat;
    background-size: contain;
}

.card > div.card2-img {
    background: url(./assets/images/card2.webp) center no-repeat;
    background-size: contain;
}

.card:hover > div.card2-img {
    background: url(./assets/images/card2h.webp) center no-repeat;
    background-size: contain;
}

.card > div.card3-img {
    background: url(./assets/images/card3.webp) center no-repeat;
    background-size: contain;
}

.card:hover > div.card3-img {
    background: url(./assets/images/card3.webp) center no-repeat;
    background-size: contain;
}

.card > div.card4-img {
    background: url(./assets/images/card4.webp) center no-repeat;
    background-size: contain;
}

.card:hover > div.card4-img {
    background: url(./assets/images/card4h.webp) center no-repeat;
    background-size: contain;
}

.card > div.card5-img {
    background: url(./assets/images/card5.webp) center no-repeat;
    background-size: contain;
}

.card:hover > div.card5-img {
    background: url(./assets/images/card5h.webp) center no-repeat;
    background-size: contain;
}

.card > div.card6-img {
    background: url(./assets/images/card6.webp) center no-repeat;
    background-size: contain;
}

.card:hover > div.card6-img {
    background: url(./assets/images/card6h.webp) center no-repeat;
    background-size: contain;
}

.card > div.card7-img {
    background: url(./assets/images/card7.webp) center no-repeat;
    background-size: contain;
}

.card:hover > div.card7-img {
    background: url(./assets/images/card7h.webp) center no-repeat;
    background-size: contain;
}

.card > div.card8-img {
    background: url(./assets/images/card8.webp) center no-repeat;
    background-size: contain;
}

.card:hover > div.card8-img {
    background: url(./assets/images/card8h.webp) center no-repeat;
    background-size: contain;
}
.card > div.card9-img {
    background: url(./assets/images/card9.webp) center no-repeat;
    background-size: contain;
}

.card:hover > div.card9-img {
    background: url(./assets/images/card9h.webp) center no-repeat;
    background-size: contain;
}
.card > div.card10-img {
    background: url(./assets/images/card10.webp) center no-repeat;
    background-size: contain;
}

.card:hover > div.card10-img {
    background: url(./assets/images/card10.webp) center no-repeat;
    background-size: contain;
}



@media screen and (max-width: 3840px) {
    .card {
        width: 380px;
    }
    
    .product-img {
        height: 380px;
    }
}

@media screen and (max-width: 3200px) {
    .card {
        width: 360px;
    }
    
    .product-img {
        height: 360px;
    }
}

@media screen and (max-width: 2560px) {
    .card {
        width: 280px;
    }
    
    .product-img {
        height: 280px;
    }
}

@media screen and (max-width: 1920px) {
    .card {
        width:  260px;
    }
    
    .product-img {
        height: 260px;
    }
}

@media screen and (max-width: 1440px) {
    .card {
        width: 240px;
    }
    
    .product-img {
        height: 240px;
    }
}
@media screen and (max-width: 1245px) {
    .card-container{
        display: flex;
        justify-content: center;
    }
    .cards{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    .card {
        width: 190px;
    }
    
    .product-img {
        height: 190px;
    }
}

@media screen and (max-width: 1024px) {
    .card-container{
        display: flex;
        justify-content: start;
    }
    .cards{
        display: flex;
    }
    .card {
        width: 280px;
    }
    
    .product-img {
        height: 280px;
    }
    .card-container{
        overflow: auto;
        height: auto;
    }
    .cards{
        height: auto;
        margin: 10px;
        flex-wrap: nowrap;
        padding: 10px 0px;
    }
}


/* .................... product-categories  ..................... */

.product-categories{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 10px;
    margin-top: 20px;
}
.product-category{
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.category-img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.category-img1{
    background: url(./assets/images/circle1.webp) no-repeat center;
    background-size: contain;
}
.category-img2{
    background: url(./assets/images/circle2.webp) no-repeat center;
    background-size: contain;
}
.category-img3{
    background: url(./assets/images/circle3.webp) no-repeat center;
    background-size: contain;
}
.category-img4{
    background: url(./assets/images/circle4.webp) no-repeat center;
    background-size: contain;
}
.category-img5{
    background: url(./assets/images/circle5.webp) no-repeat center;
    background-size: contain;
}
.category-img6{
    background: url(./assets/images/circle6.webp) no-repeat center;
    background-size: contain;
}


@media screen and (max-width: 3840px) {
    .product-categories{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        margin-top: 30px;
    }
    .category-img{
        max-width: 230px;
        max-height: 230px;
    }
}



@media screen and (max-width: 3200px) {
    .container {
        max-width: 1920px;
        margin-top: 40px;
    }
}

@media screen and (max-width: 2560px) {
    .container {
        max-width: 1536px;
    }
}

@media screen and (max-width: 1920px) {
    .container {
        max-width: 1400px;
    }
    .category-img{
        max-width: 200px;
        max-height: 200px;
    }
}

@media screen and (max-width: 1440px) {
    .product-category{
        height: 220px;
    }
    .container {
        max-width: 1280px;
    }
    .category-img{
        max-width: 160px;
        max-height: 160px;
    }
}

@media screen and (max-width: 1024px) {
    .product-category{
        height: 220px;
    }
    .product-categories{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .category-img{
        max-width: 200px;
        max-height: 200px;
    }
}

@media screen and (max-width: 768px) {
    .product-category{
        height: 180px;
    }
    .container {
        max-width: 720px;
    }
    .category-img{
        max-width: 130px;
        max-height: 130px;
    }
}

@media screen and (max-width: 425px) {
    .product-category{
        height: 160px;
    }
    .product-categories{
        grid-template-columns: 1fr 1fr;
    }
    .container {
        max-width: 425px;
    }
    .category-img{
        max-width: 140px;
        max-height: 140px;
    }
}

@media screen and (max-width: 320px) {
    .container {
        max-width: 100%;
    }
    .category-img{
        max-width: 120px;
        max-height: 120px;
    }
}

