/* .............. universel style ................ */
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

/* ................... header .................... */

/* .... announce bar ..... */

.announce-bar{
    width: 100%;
    background: #f6b116;
    height: auto;
    padding: 8px;
    display: flex;
    justify-content: center;
}
.announce{
    font-family: "Inter", serif;
    font-size: 14px;
    color: white;
    border-right: 3px solid white; 
    text-wrap: nowrap;
    overflow: hidden;
}
#announce-one{
    animation: typing1 4s steps(48) infinite alternate, blinkCursor 0.9s infinite;
}
@media screen and (max-width: 425px) {
    .announce{
        font-size: 12px;
    }
}
@keyframes typing1 {
    from{
        width: 0ch;
    }
    to{
        width: 40ch;
    }
    
}
@keyframes blinkCursor {
    50% {
        border-color: transparent;
    }
}
/* ....... container ....... */

.container{
    width: 100%;
}

/* max-width: 2560px; */
@media screen and (max-width: 3840px) {
    .container{
        max-width: 2048px;
    }
}

@media screen and (max-width: 3200px) {
    .container{
        max-width: 1920px;
    }
}

@media screen and (max-width: 2560px) {
    .container{
        max-width: 1536px;
    }
}

@media screen and (max-width: 1920px) {
    .container{
        max-width: 1400px;
    }
}

@media screen and (max-width: 1440px) {
    .container{
        max-width: 1280px;
    }
}

@media screen and (max-width: 1024px) {
    .container{
        max-width: 976px;
    }
}

@media screen and (max-width: 768px) {
    .container{
        max-width: 720px;
    }
}

@media screen and (max-width: 425px) {
    .container{
        max-width: 425px;
    }
}

@media screen and (max-width: 320px) {
    .container{
        max-width: 100%;
    }
}


/* ....... navbar ....... */

.navbar{
    width: 100%;
    height: 140px;
    display: flex;
    background: rgb(0, 0, 0);
    align-items: center;
    justify-content: center;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search-box{
    width: 100%;
}
.search-bar{
    width: 100%;
    max-width: 320px;
    padding: 0px 0px 0px 15px;
    background: white;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search-bar:hover{
    box-shadow: 0px 0px 5px 3px rgba(255, 255, 255, 0.733);
}
.search{
    width: auto;
    outline: none;
    border: none;
    font-family: "Inter", serif;
    font-size: 12px;
    opacity: 0.8;
}
.fa-magnifying-glass{
    cursor: pointer;
    padding: 15px;
    border-radius: 50px;
}
.fa-magnifying-glass:hover{
    background: rgba(0, 0, 0, 0.26);
}

.logo-box{
    width: 520px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo{
    width: 100%;
}

.nav-icons{
    width: 100%;
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: end;
}
.nav-icon-box{
    width: 100px;
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
}
.nav-icon-box>span{
    font-size: 14px;
    color: white;
    text-transform: uppercase;
    font-family: "Lato", serif;
    letter-spacing: 2.8px;
}
.nav-icon-box>i{
    font-size: 20px;
    color: white;
}


.nav-iBars-box{
    display: none;
}
@media screen and (max-width: 1023px) {
    .navbar{
        height: 160px;
    }
    .nav-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 20px;
    }
    .logo-box{
        width: 180px;
    }
    .search-box{
        order: 3;
        width: 100%;
        grid-column: span 2;
    }
    .search-bar{
        max-width: 100%;
        padding: 0px 0px 0px 12px;
    }
    .search{
        width: 100%;
    }
    .nav-icon-box{
        width: auto;
    }
    .nav-icons{
        gap: 20px;
    }
    .nav-icon-box{
        gap: 0px;
    }
    .icon-describ{
        display: none;
    }
    .fa-magnifying-glass{
        padding: 12px;
    }
    .nav-iBars-box{
        display: flex;
    }
}


/* ............. menu bar ............... */

.menu-bar{
    width: 100%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.192);
}
.menu-bar-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 35px;
    row-gap: 30px;
    flex-wrap: wrap;
}
.menu-item>a{
    text-decoration: none;
}
.menu-item>a>span{
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    font-family: "Inter", serif;
    letter-spacing: 2.8px;
}
#menu-bar-toggle{
    display: none;
}
.none{
    display: none;
}
@media screen and (max-width: 1023px) {
    #menu-bar-toggle:checked ~ div.menu-bar{
        transform: scaleY(100%);
    }
    .menu-bar{
        transform: scaleY(100%);
        transform-origin: top;
        transition: 0.3s ease-in-out;
        background: white;
        padding: 0;
    }
    .menu-bar-container{
        padding: 20px;
    }
    .menu{
        flex-direction: column;
        align-items: start;
        background: #f8f8f8;
        border-radius: 10px;
        padding: 20px 10px;
        row-gap: 10px;
    }
    .menu-item{
        width: 100%;
        display: flex;
        align-items: center;
        height: 40px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.096);
    }
    .menu-item>a{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 0px 5px;
    }
    .menu-item>a>span{
        color: black;
    }
    .none{
        display: block;
        color: rgb(0, 0, 0);
        font-size: 14px;
        letter-spacing: 2.8px;
        padding: 10px;
    }
}